@xs-max-width: 767px;
@sm-min-width: 768px;
@sm-max-width: 991px;
@md-min-width: 992px;
@md-max-width: 1199px;
@lg-min-width: 1200px;

@main-colour: #7B3B90;
@main-colour-highlight: lighten(@main-colour, 10%);
@main-colour-highlight-double: lighten(@main-colour, 20%);
@main-colour-dark: #513068;
@white-text-colour: #EEE;
@faded-main-text-colour: #AE8CC7;
@dark-grey-bg-colour: #2B2B2B;
@error-colour: #A01A1A;
@success-colour: #377D00;
@link-colour: #6FBAE6;
@link-colour-hover: lighten(@link-colour, 10%);
