.marketing-row {
  background-color: @dark-grey-bg-colour;

  &:nth-child(even) {
    background-color: @main-colour-dark;
  }
}

.marketing-row__header {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.marketing-row__text {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 38px;
}
