.navbar
{
  #login, #logout, #signup
  {
    margin-top: 7px;
    width: 80px;
  }
  #signup
  {
    margin-left: 15px;
  }
  #identification:hover
  {
    color: #777;
  }
}

.modal
{
  text-align: center;
  margin: 0 auto;

  .modal-content
  {
    padding-bottom: 20px;
  }
  .btn
  {
    width: 33%;
    margin: auto;
  }
  input[type="text"],
  input[type="password"]
  {
    width: 80%;
    margin: auto;
  }
  p
  {
    max-width: 80%;
    margin: auto;
  }
  label
  {
    max-width: 80%;
  }
  h2
  {
    margin-bottom: 20px;
  }
  button:focus
  {
    outline: none;
  }
  .modal-close
  {
    position: absolute;
    top: 9px;
    right: 12px;
  }
  .login-error, .signup-error
  {
    color: #F44;
    margin-top: 10px;
  }
  .login-error p,
  .signup-error p
  {
    margin-left: 10%;
    margin-right: 10%;
  }
  #signup-password
  {
    margin-bottom: 5px;
  }
}

.table-leagues
{
  .column-leagues
  {
    width: 97%;
  }
  .column-remove
  {
    width: 3%;
  }
}

#last-summoner-input-break
{
  display: none;
}

.server-error
{
  margin-top: 10px;
  text-align: center;
}
.no-margin
{
  margin: 0;
}
.trim-style
{
  color: #777;
}
.no-table
{
  display: none;
}
.constrict-well
{
  display: inline-block;
  padding: 40px;
}
