/* Constants */
@xs-max-width: 767px;
@sm-min-width: 768px;
@sm-max-width: 991px;
@md-min-width: 992px;
@md-max-width: 1199px;
@lg-min-width: 1200px;

@main-colour: #7B3B90;
@main-colour-highlight: lighten(@main-colour, 10%);
@main-colour-highlight-double: lighten(@main-colour, 20%);
@white-text-colour: #EEE;
@dark-grey-bg-colour: #2B2B2B;
@main-bg-colour: #513068;
@error-colour: #A01A1A;
@link-colour: #6FBAE6;
@link-colour-hover: lighten(@link-colour, 10%);

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: @dark-grey-bg-colour;
  color: @white-text-colour;
  font-family: 'Open Sans';
}

a {
  color: @link-colour;

  &:hover, &:focus {
    color: @link-colour-hover;
  }
}

@navbar-height: 64px;
@navbar-brand-font-size: 32px;
@navbar-link-font-size: 18px;
@navbar-icon-size: 40px;
@navbar-icon-horizontal-padding: 10px;
@btn-height: 42px;
@btn-font-size: 18px;
@navbar-btn-colour: #4A2B54;
@navbar-btn-colour-hover: darken(@navbar-btn-colour, 3%);
@navbar-btn-colour-focus: darken(@navbar-btn-colour, 5%);
@input-height: 36px;
@input-colour: @dark-grey-bg-colour;
@input-border-colour: lighten(@input-colour, 10%);

.navbar {
  background-color: @main-colour;
}

.navbar-collapse {
  border: 0;
}

.navbar-static-top {
  margin-bottom: 0;
  border: 0;
}

.navbar-brand {
  font-size: @navbar-brand-font-size;
  font-weight: bold;
  line-height: @navbar-brand-font-size + 2;
  height: @navbar-height;
  color: @white-text-colour;

  &:hover {
    color: @white-text-colour;
  }

  &:focus {
    color: @white-text-colour;
    background-color: @main-colour-highlight-double;
    outline-width: 0;
  }

  @media(max-width: @sm-max-width) {
    margin-right: 0;
  }
  @media(min-width: @md-min-width) {
    margin-right: 25px;
  }
}

.navbar-nav {
  & > li {
    & > a {
      height: @navbar-height;
      padding: 22px;
      font-size: @navbar-link-font-size;
      color: #EEE;

      @media(max-width: @md-max-width) {
        padding-left: 12px;
        padding-right: 12px;
      }

      &:hover,
      &:focus {
        background-color: @main-colour-highlight-double;
        outline-width: 0;
      }
    }
  }
  & > li.active {
    & > a {
      background-color: @main-colour-highlight;

      &:hover,
      &:focus {
        background-color: @main-colour-highlight-double;
        outline-width: 0;
      }
    }
  }
}

.navbar-toggle {
  color: @white-text-colour;
  font-size: @navbar-icon-size;
  border-radius: 0;
  margin: 0;
  padding: 0 @navbar-icon-horizontal-padding;
  height: @navbar-height;

  &:hover,
  &:focus, {
    background-color: @main-colour-highlight-double;
  }
}

.navbar-right {
  @media(min-width: @sm-min-width) {
    margin-right: 0;
  }
}

.nav-btn {
  border: 0;
  height: @btn-height;
  font-size: @btn-font-size;
  background-color: @navbar-btn-colour;
  margin-top: (@navbar-height - @btn-height) / 2;
  margin-bottom: (@navbar-height - @btn-height) / 2;
  margin-left: 6px;
  margin-right: 6px;

  &:hover {
    background-color: @navbar-btn-colour-hover;
  }

  &:active {
    background-color: @navbar-btn-colour-focus;
  }

  &:focus {
    outline-width: 0;
    box-shadow: inset 0 0 0 2px @white-text-colour;
  }
}

.nav-btn--fixed-width {
  width: 80px;
}

.nav-txt {
  display: inline;
  padding-top: 22px;
  padding-bottom: 22px;
  height: @navbar-height;
}

.nav-txt__spaced {
  margin-right: 6px;
}

.footer {
  margin-top: 12px;
  margin-bottom: 12px;
  border-top: 1px solid @white-text-colour;
}

.marketing-row {
  background-color: @dark-grey-bg-colour;
  color: @white-text-colour;

  &:nth-child(even) {
    background-color: @main-bg-colour;
  }
}

.marketing-row__header {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.marketing-row__text {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 38px;
}

@flash-item-height: 32px;

.flash {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flash__item {
  margin: 6px;
  padding: 6px;
  height: @flash-item-height;
  font-size: @flash-item-height - 12;
  line-height: @flash-item-height - 12;
}

.flash__item--error {
  background-color: @error-colour;
}

.flash__close {
  background-color: transparent;
  border: 0;
  outline-width: 0;
  &:hover {
    color: darken(@white-text-colour, 20%);
  }
  &:active {
    color: darken(@white-text-colour, 40%);
  }
}

.button {
  border: 0;
  height: @btn-height;
  font-size: @btn-font-size;
  background-color: @main-colour;

  &:hover {
    background-color: @main-colour-highlight;
  }

  &:active {
    background-color: @main-colour-highlight-double;
  }

  &:focus {
    outline-width: 0;
    box-shadow: inset 0 0 0 2px @white-text-colour;
  }
}

.input {
  background-color: @input-colour;
  height: @input-height;
  border: 2px solid @input-border-colour;
  padding: 2px;
  margin: 6px;

  &:focus {
    outline-width: 0;
  }
}

.input--nav {
  margin-top: (@navbar-height - @input-height) / 2;
  margin-bottom: (@navbar-height - @input-height) / 2;
  margin-left: 6px;
  margin-right: 6px;
}

.input--form {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 6px 0;
}

.input--error {
  border: 2px solid @error-colour;
}

.sign-up-form {
  background-color: @main-bg-colour;
  margin: 24px;
  padding: 12px;
}

.sign-up-form__header {
  margin: 12px 0 18px 0;
  text-align: center;
}

.sign-up-form__email {
  position: relative;

  .input {
    padding-right: 30px;
  }

  .fa {
    position: absolute;
    right: 11px;
    top: 11px;
  }
}

.sign-up-form__checkbox {
  margin-left: 6px;
}

.sign-up-form__break {
  height: 12px;
}

.sign-up-form__submit {
  width: 100%;
}
