*.html
*.log
*.map
*.sublime-workspace
bower_components/
node_modules/
public/css/*
public/js/lib/*
public/fonts/fontawesome-webfont.*
public/fonts/FontAwesome.*
public/fonts/glyphicons-halflings-regular.*
settings.json
Thumbs.db
