*.css
*.html
*.map
*.log
*.sublime-workspace
node_modules/
bower_components/
settings.json
Thumbs.db

# Still include 3rd party library stuff
!bootstrap-theme.min.css
!bootstrap.min.css
!font-awesome.min.css
