extends ./base.jade

block title
  title Page Not Found  - My LoL Fantasy
block content
  div(class='container theme-showcase' role='main')
    h1 Page Not Found
    h4 Return to #[a(href= baseUrl + '/') home]
