extends ./base.jade

block title
  title Create a League - My LoL Fantasy

block content
  div.container.theme-showcase(role='main')
    .well
      .create-league-error
        if messages.createLeagueError
          p= messages.createLeagueError

      form#create-league-form(method='post', role='form', action='')
        h1 Create New League
        div#league-name-input-div
          input#league-name-input.form-control(type='text', name='groupName', placeholder='League Name', value= messages.createLeagueName ? messages.createLeagueName : false)
        br
        div(class='div-inline-block')
          input#league-include-self(type='checkbox', name='includeSelf')
        div(class='div-inline-block')
          p= "Include Self in League"
        br
        if messages.createLeagueSummoners
          each name, index in messages.createLeagueSummoners
            div(id= 'summoner-input-' + index, class= 'summoner-input ' + (messages.createLeagueInvalidSummoner && 'has-error'))
              input.form-control(type='text', placeholder='Summoner Name', value= name)
              button.btn.btn-primary(type='button') Remove
        else
          div#summoner-input-0.summoner-input
            input.form-control(type='text', placeholder='Summoner Name')
            button.btn.btn-primary(type='button') Remove
        br#last-summoner-input-break
        button#add-summoner.btn.btn-primary(type='button') Add Summoner
        button.btn.btn-primary(type='submit') Create

block scripts
  script(src= baseUrl + '/js/create_league.js')
