extends ./base.jade

block title
  title EULA - My LoL Fantasy
block content
  div(class='container theme-showcase' role='main')
    h1 End User License Agreement
    p.
      My LoL Fantasy (herein referred to as "MLF") provides no guarantees for service, it is provided as is.
      MLF collects information on your League of Legends accounts and will store any information you enter. In
      the case of your password, we securely hash it and then store it. MLF is not liable for any damages you
      encounter while using this software. You may not use MLF in a malicious manner and we retain the right
      to revoke anybody's right to use this software.

    p.
      MLF isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially
      involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered
      trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.

