extends ./base.jade

block title
  title Home - My LoL Fantasy

block content
  div(class='container theme-showcase text-center' role='main')
    div(class='well constrict-well text-center')
      h1 My LoL Fantasy
      p Information about My LoL Fantasy including (some ideas): what it is, points system, how to sign up, how it's made, who made it, and FAQ

block scripts
  script(src= baseUrl + '/js/home.js')
