<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- Third Party CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Our CSS -->
    <link href="/static/css/theme.css" rel="stylesheet">
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <li id="nav-home"><a href="Home">Home</a></li>
          {% if session.get("loggedIn", False) %}
          <li id="nav-create-league"><a href="CreateLeague">Create a League</a></li>
          <li id="nav-leagues"><a href="Leagues">View Leagues</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if session.get("loggedIn", False) %}
          <li><a id="identification">Logged in as <em>{{ session.get("username", "Unknown User") }}</em></a></li>
          <li><button id="logout" class="btn btn-primary">Log Out</button></li>
          {% else %}
          <li><button id="login" class="btn btn-primary" data-toggle="modal" data-target="#login-popup">Log In</button></li>
          <li><button id="signup" class="btn btn-primary" data-toggle="modal" data-target="#signup-popup">Sign Up</button></li>
          {% endif%}
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Log In Modal Dialog -->
    <div id="login-popup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span id="login-close" class="fa fa-close"></span></button>
          <form id="login-form" method="post" role="form" action="">
            <h2 id="login-title">Log In</h2>
            <div class="login-bad login-no-username">
              <input id="login-username" class="form-control has-error" type="text" name="username" placeholder="Username"
              {% with username = get_flashed_messages(category_filter=["login_username"]) %}
              {% if username %}
              value="{{username[0]}}"
              {% endif %}
              {% endwith %}
              ></input>
            </div>
            <br>
            <div class="login-bad login-no-password">
              <input id="login-password" class="form-control" type="password" name="password" placeholder="Password"></input>
            </div>
            <br>
            <button id="login-submit" class="btn btn-primary" type="submit">Submit</button>
          </form>
          <div class="login-error">
          {% with errors = get_flashed_messages(category_filter=["login_error"]) %}
          {% if errors %}
            {% for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor %}
          {% endif %}
          {% endwith %}
          </div>
        </div>
      </div>
    </div>

    <!-- Sign Up Modal Dialog -->
    <div id="signup-popup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span id="signup-close" class="fa fa-close"></span></button>
          <form id="signup-form" method="post" role="form" action="">
            <h2 id="login-title">Sign Up</h2>
            <div class="signup-no-username signup-username-taken signup-long-username">
              <input id="signup-username" class="form-control" type="text" name="username" placeholder="Username"
              {% with username = get_flashed_messages(category_filter=["signup_username"]) %}
              {% if username %}
              value="{{username[0]}}"
              {% endif %}
              {% endwith %}
              ></input>
            </div>
            <br>
            <div class="signup-no-password signup-password-different">
              <input id="signup-password" class="form-control" type="password" name="password" placeholder="Password"></input>
            </div>
            <div class="signup-no-confirm-password signup-password-different">
              <input id="signup-confirm-password" class="form-control" type="password" name="confirmPass" placeholder="Confirm Password"></input>
            </div>
            <br>
            <div class="signup-no-summoner">
              <input id="signup-summoner" class="form-control" type="text" name="summonerName" placeholder="Summoner Name"
              {% with summoner = get_flashed_messages(category_filter=["signup_summoner"]) %}
              {% if summoner %}
              value="{{summoner[0]}}"
              {% endif %}
              {% endwith %}
              ></input>
            </div>
            <div class="checkbox signup-no-agree">
              <label><input id="signup-agree" type="checkbox" checked="" name="agree">By signing up you are accepting our <a href="EULA" target="_blank">End User License Agreement</a></input></label>
            </div>
            <button id="signup-submit" class="btn btn-primary" type="submit">Submit</button>
          </form>
          <div class="signup-error">
          {% with errors = get_flashed_messages(category_filter=["signup_error"]) %}
          {% if errors %}
            {% for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor %}
          {% endif %}
          {% endwith %}
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Goodies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
