{% extends "base.html" %}

{% block title %}Create a League{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="well">
    <form method="post" action="" role="form">
      <h1>Create New League</h1>
      <input type="text" class="form-control" name="groupName" placeholder="Group Name" />
      <input type="text" class="form-control" name="name1" placeholder="Summoner 1" />
      <input type="text" class="form-control" name="name2" placeholder="Summoner 2" />
      <input type="text" class="form-control" name="name3" placeholder="Summoner 3" />
      <input type="text" class="form-control" name="name4" placeholder="Summoner 4" />
      <button class="btn btn-primary" type="submit">Create</button>
    </form>
  </div>
  {% if error %}
  <p class="server-error"><strong>Error: </strong>{{ error }}</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/createleague.js"></script>
{% endblock %}
