{% extends "base.html" %}

{% block title %}EULA{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
  <h1>End User License Agreement</h1>

  <h2>Table of contents</h2>
  <ul>
    <li>Grant of license</li>
    <li>Licensing restrictions</li>
    <li>Ownership</li>
    <li>Audit Rights</li>
    <li>Termination</li>
    <li>Warranty</li>
    <li>Damages</li>
    <li>Limitation of liability</li>
    <li>Attribution</li>
  </ul>

  <h2>Grant of license</h2>
  <p>This software is for personal use only. You may not sell, share, distribute, or sublicense this software.</p>

  <h2>Licensing restrictions</h2>
  <p>You may not use this software in a malicious manner. This includes any sort of illegal activity.</p>

  <h2>Ownership</h2>
  <p>You do not in any way or form own the software. You may only have a right to use this software.</p>

  <h2>Audit Rights</h2>
  <p>You allow us to monitor how you are using this software.</p>

  <h2>Termination</h2>
  <p>Violating any terms of this agreement allows us to terminate your right to use this software. Termination can be done without any notice.</p>

  <h2>Warranty</h2>
  <p>This software is provided as is.</p>

  <h2>Damages</h2>
  <p>We take no responsibility or liability for any damages that you encounter while using this software.</p>

  <h2>Limitation or liability</h2>
  <p>None for now.</p>

  <h2>Attribution</h2>
  <p>MyLoLFantasy isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
