{% extends "base.html" %}

{% block title %}League - {{ name if name else "Unknown" }}{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
  {% if name and stats %}
  <div class="row">
    <div class="col-xs-6">
      <h1>{{ name }}</h1>
    </div>
    <div class="col-xs-6">
      <h2 class="pull-right trim-style">{{ numGames }} game{% if numGames != 1 %}s{% endif %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% if request.args.get("detailed", "false") == "false" %}
      <table class="table" id="simple-table">
        <thead>
          <tr>
            <th>Summoner</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for player in stats %}
          <tr>
            <th>{{ player }}</th>
            <th>{{ stats[player]["points"] }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="Leagues" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back to my Leagues</a>
      <button id="btn-show-details" type="button" class="btn btn-primary pull-right">Detailed View</button>
      {% else %}
      <table class="table" id="detailed-table">
        <thead>
          <tr>
            <th>Summoner</th>
            <th>Kills</th>
            <th>Assists</th>
            <th>Deaths</th>
            <th>CS</th>
            <th>Turrets</th>
            <th>Doubles</th>
            <th>Triples</th>
            <th>Quadras</th>
            <th>Pentas</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for player in stats %}
          <tr>
            <th>{{ player }}</th>
            <th>{{ stats[player]["stats"]["championsKilled"] }}</th>
            <th>{{ stats[player]["stats"]["assists"] }}</th>
            <th>{{ stats[player]["stats"]["numDeaths"] }}</th>
            <th>{{ stats[player]["stats"]["minionsKilled"] }}</th>
            <th>{{ stats[player]["stats"]["turretsKilled"] }}</th>
            <th>{{ stats[player]["stats"]["doubleKills"] }}</th>
            <th>{{ stats[player]["stats"]["tripleKills"] }}</th>
            <th>{{ stats[player]["stats"]["quadraKills"] }}</th>
            <th>{{ stats[player]["stats"]["pentaKills"] }}</th>
            <th>{{ stats[player]["points"] }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="Leagues" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back to my Leagues</a>
      <button id="btn-hide-details" type="button" class="btn btn-primary pull-right">Simple View</button>
      {% endif %}
    </div>
  </div>
  {% elif not error %}
  <p class="server-error"><strong>Error: </strong>Could not load data</p>
  <a href="Leagues" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back to my Leagues</a>
  {% endif %}

  {% if error %}
  <p class="server-error"><strong>Error: </strong>{{ error }}</p>
  <a href="Leagues" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back to my Leagues</a>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/league.js"></script>
{% endblock %}
