{% extends "base.html" %}

{% block title %}Leagues{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <table class="table">
      <thead>
        <tr><th>Leagues</th></tr>
      </thead>
      <tbody>
        {% for message in messages %}
        <tr><td><a href="/League_{{ message.partition(' ')[0] }}">{{ message.partition(' ')[2] }}</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>Leagues</h3>
    <hr>
    <div class="well"><p class="no-margin">You have no leagues! Create one <a href="CreateLeague">here</a>.</p></div>
    {% endif %}
    {% endwith %}
  </div>
  {% if error %}
  <p class="server-error"><strong>Error: </strong>{{ error }}</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/leagues.js"></script>
{% endblock %}
