/* Right side of NavBar */
#login, #logout, #signup {
  margin-top: 7px;
  width: 80px;
}
#signup {
  margin-left: 15px;
}
#identification:hover {
  color: #777;
}

/* Log In and Sign Up modal dialogs */
.modal {
  text-align: center;
  margin: 0 auto;
}
.modal-content {
  padding-bottom: 20px;
}
.modal .btn {
  width: 33%;
  margin: auto;
}
.modal input[type="text"], .modal input[type="password"] {
  width: 80%;
  margin: auto;
}
.modal label {
  max-width: 80%;
}
.modal h2 {
  margin-bottom: 20px;
}
.modal button:focus {
  outline: none;
}
#login-close, #signup-close {
  position: absolute;
  top: 9px;
  right: 12px;
}
.login-error, .signup-error {
  color: #F44;
  margin-top: 10px;
}
.login-error p, .signup-error p {
  margin-left: 10%;
  margin-right: 10%;
}
#signup-password {
  margin-bottom: 5px;
}

/* Misc. helper classes */
.server-error {
  margin-top: 10px;
  text-align: center;
}
.no-margin {
  margin: 0px;
}
.trim-style {
  color: #777;
}
.no-table {
  display: none;
}
