.container
  .row
    .col-xs-12
      h1.boring-header About
      p.boring-text.
        My LoL Fantasy is an app that was initially created at a University of Waterloo hackathon in 2014. Since
        then it has gone through several iterations to reach its current state. Take a look at the GitHub profiles
        of the people that have worked on My LoL Fantasy:
        #[a(href='https://github.com/PeteyPii') PeteyPii],
        #[a(href='https://github.com/bsankara') bsankara],
        #[a(href='https://github.com/joshkergan') joshkergan], and
        #[a(href='https://github.com/pperrier27') pperrier27].
      p.boring-text.
        My LoL Fantasy isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially
        involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered
        trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
