div
  .marketing-row
    .container
      .row.flex
        .col-sm-4.hidden-xs
          .market-img-container
            img.market-img(src='imgs/market_sign_up.jpg?v=' + version)
        .col-sm-8.col-xs-12
          .market-text-container
            h1.market-header Sign Up
            p.market-paragraph.
              Figure who is the best League of Legends player between you and your friends by signing up
              for a free My LoL Fantasy account. With it, you will have access to our awesome service. It's like
              playing fantasy sports, but instead of drafting famous players, you and your friends play for
              yourselves.

  .marketing-row
    .container
      .row.flex
        .col-sm-8.col-xs-12
          .market-text-container
            h1.market-header Create a League
            p.market-paragraph.
              Decide who you want to compete with and create a League containing you and your rivals. Once
              your League has been created, we will track games containing every player in the League and
              we will tally important stats such as kills, assists, and, of course, deaths (for all those
              feeders out there).
        .col-sm-4.hidden-xs
          .market-img-container
            img.market-img.market-img--right(src='imgs/market_create.jpg?v=' + version)

  .marketing-row
    .container
      .row.flex
        .col-sm-4.hidden-xs
          .market-img-container
            img.market-img(src='imgs/market_play.jpg?v=' + version)
        .col-sm-8.col-xs-12
          .market-text-container
            h1.market-header Play!
            p.market-paragraph.
              Get into some games and crush your competitors. Prove that you're better than all of your friends
              with the hard facts from My LoL Fantasy. There will be no denying it. Everyone knows that getting
              kills is the most important part of LoL, right? So get out there and tear it up! You now have a
              totally valid reason to steal everyone's kills on Soraka.
