.container
  .row
    .col-xs-12
      .leagues-list
        .leagues-list__header
          h1 Leagues
        .leagues-list__loading(data-ng-show='isLoading')
          span Loading
          span.fa.fa-spinner.fa-spin
        ul.leagues-list__list(data-ng-hide='isLoading || loadError')
          li.leagues-list__item(data-ng-repeat='league in leagues', data-ng-click='goToLeague(league.id)')
            span.main {{ league.name }}
            span.meta.hidden-xs {{ league.lastUpdate.toLocaleString() }}
            span.fa.fa-lg.fa-times(title='Delete League', data-ng-click='deleteLeague(league.id); $event.stopPropagation()')
          li.leagues-list__empty(data-ng-if='leagues.length === 0')
            span You have no Leagues! Visit the #[a(href='create-league') Create a League] page to create one.
        .leagues-list__error(data-ng-show='loadError')
          span Your Leagues failed to load. Try refreshing the page in a few minutes.
        .leagues-list__control
          button.button(data-ng-click='updateLeagues()') Refresh Stats
