.container
  .row
    .col-xs-12
      h1.boring-header Oops! Page Not Found
      p.boring-text.
        The page you are looking for does not exist. Double check that you typed in the URL
        correctly or head back #[a(href='home') home].
