.container
  .row
    .col-xs-12
      h1.boring-header Privacy Policy
      p.boring-text.
        My LoL Fantasy uses cookies in order to improve your experience. Specifically, we use cookies
        to store session IDs, to use Google Analytics, and to prevent CSRF attacks. We take care of
        any data you enter on this site. We securely hash all passwords. We also have no interest in
        selling any information about you and we will not do anything malicious with your data.
