.container
  .row
    .col-xs-12
      .island-form
        h1.island-form__header Password Reset
        p Enter your username below and we'll send an email to you with a link to reset your password.
        input.input.input--form(type='text', data-ng-class='{"input--error": error.username}', data-ng-model='username', placeholder='Username')
        button.button.island-form__submit(data-ng-click='submit()', data-no-click-focus) Submit
