.container
  .row
    .col-xs-3
    .col-xs-6
      .island-form.island-form--loading(data-ng-show='isLoading')
        span Loading...
        span.fa.fa-spinner.fa-spin
      .island-form(data-ng-show='!isLoading')
        h1.island-form__header Choose a New Password
        input.input.input--form(type='password', data-ng-class='{"input--error": error.password}', data-ng-model='password', placeholder='Password')
        input.input.input--form(type='password', data-ng-class='{"input--error": error.confirmPassword}', data-ng-model='confirmPassword', placeholder='Confirm Password')
        button.button.island-form__submit(data-ng-click='submit()', data-no-click-focus) Submit
