.container
  .row
    .col-xs-3
    .col-xs-6
      .island-form
        h1.island-form__header Sign Up
        input.input.input--form(type='text', data-ng-class='{"input--error": error.username}', data-ng-model='username', placeholder='Username')
        .island-form__break
        input.input.input--form(type='password', data-ng-class='{"input--error": error.password}', data-ng-model='password', placeholder='Password')
        input.input.input--form(type='password', data-ng-class='{"input--error": error.confirmPassword}', data-ng-model='confirmPassword', placeholder='Confirm Password')
        .island-form__break
        .island-form__input-hint
          input.input.input--form(type='email', data-ng-class='{"input--error": error.email}', data-ng-model='email', placeholder='Email (Optional)')
          span.fa.fa-lg.fa-question(title='MyLF cares about your privacy. We only use your email for password recovery.')
        .island-form__break
        input.input.input--form(type='text', data-ng-class='{"input--error": error.summonerName}', data-ng-model='summonerName', placeholder='Summoner Name')
        .checkbox.island-form__checkbox
          label.
            #[input(type='checkbox', data-ng-model='agree')] By signing up you are accepting
            our #[a(href='EULA', target='_blank') End User License Agreement]
        button.button.island-form__submit(data-ng-click='signUp()', data-no-click-focus) Submit
